
/*======================Gallery===============*/

.gallery__section{
        background-color: rgba(255, 255, 255, .9);
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        box-shadow: 10px 1px 10px rgba(0, 0, 0, .5);
}

.columna{
        flex: 20%;
        max-width: 20%;
        padding: 0 .25rem;
}

.columna img{
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        filter: grayscale(100%);
        transition: all .3s ease;
}

.columna img:hover{
        cursor: pointer;
        filter: grayscale(0%);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        transform: scale(1.1);
}

/*estilos modal lightbox*/

.gallery__overlay{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .9);
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .7s ease;
        visibility: hidden;
        opacity: 0;
}
.gallery__overlay .gallery__lightbox{
        width: 90%;
        height: 90%;
        color: black;
        position: relative;
        display: flex;
        justify-content: center;
}

.gallery__lightbox img{
        height: 100%;
        width: 100%;
        object-fit: contain;
}

.close__lightbox{
        position: absolute;
        top: -15px;
        right: -15px;
        font-size: 30px;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: all .3s ease;
}

.close__lightbox:hover{
        transform: scale(1.1);
        cursor: pointer;
}

.botones{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        color: orangered;
}
.botones:hover i{
        transform: scale(1.1);
        transition: all .2s ease;
}
.atras-btn{
        left: 20px;
}
.adelante-btn{
        right: 20px
}
.desactivar{
        pointer-events: none;
}

@media screen and (max-width: 800px) {
        .columna{
                flex: 25%;
                max-width: 25%;
        }
        .botones{
                font-size: 50px;
        }
        .atras-btn{
                left: 15px;
        }
        .adelante-btn{
                right: 15px;
        }
        .gallery__lightbox{
                width: 98%;
        }
}

@media screen and (max-width: 600px) {
        .columna{
                flex: 100%;
                max-width: 100%;
        }
}

.section__title{
        padding: 1rem;
}